/* 
    Document   : Cards
    Created on : Nov 18, 2013, 2:27:59 AM
    Author     : Erich
    Description:
        Purpose of the stylesheet follows.
*/

.card-stack-list {
    display: inline-block;
    clear: both;
    list-style: none;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-indent: 0px;
    vertical-align: top;
}
.card-stack {
    display: inline-block;
    list-style: none;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    text-indent: 0px;
    vertical-align: top;
    background-color: #1F994B;
    border: solid 10px #0A662C;
    border-radius: 20px;
    padding: 2px;
    width: 114px;
    min-width: 114px;
    max-width: 114px;
    height: 162px;
    min-height: 162px;
    max-height: 162px;
}
.card-stack.use-image {
    background-image: url(card-stack.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.stacked {
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
}
.edgeBottom,
.edgeBottom.card-stack-list,
.edgeBottom .card-stack-list,
.edgeBottom .card-stack {
    vertical-align: bottom;
}

.flowBottom .card-stack {
    background-position: 50% 100%;
}

.card {
    position: relative;
    display: inline-block;
    width: 112px;
    height: 160px;
    overflow: hidden;
    white-space: nowrap;
    background-color: whitesmoke;
    border: solid 1px darkgoldenrod;
    border-radius: 10px;
    margin: 0 5px 5px 0;
    padding: 0;
    transition: margin 0.5s;
}

.card-stack-seperator {
    display: inline-block;
}

/*
 * .edgeBottom              cards start from bottom edge
 * .edgeRight               cards start from right edge
 * .flow-up                 cards flow upward
 * .flow-right              cards flow right
 * .flow-down               cards flow downward
 * .flow-left               cards flow left
 * .stacked                 overlap cards
 * .stacked-open            overlap open cards
 * .stacked-closed          overlap closed cards
 * .stacked.tight           cards overlap tightly by 2 pixels
 * .stacked.touch           cards overlap a finger width
 * .stacked.identity        cards overlap to 50px
 * .stacked.full            cards don't overlap
 * .stacked.expand          card expand on hover/focus
 * .stacked.expand-open     open cards will not expand
 * .stacked.expand-closed   closed cards will not expand
 * .stacked.expand-tight    card expands to tight
 * .stacked.expand-touch    card expands to finger width
 * .stacked.expand-identity card expands to 50px
 * .stacked.expand-full     card expands to show full card
 * .stacked.expand-up       cards will expand upward
 * .stacked.expand-right    cards will expand right
 * .stacked.expand-down     cards will expand downward
 * .stacked.expand-left     cards will expand left
 * 
 */
.stacked .card { margin-right: -85px; }
.stacked.tight .card { margin-right: -112px; }
.stacked .card:hover, 
.stacked .card.expand { margin-right: 0; }

.edgeTop .card, .edgeBottom .card { display: block; }
.edgeTop.stacked .card, .edgeBottom.stacked .card { margin-bottom: -112px; }
.edgeTop.stacked .card[data-face=""], .edgeBottom.stacked .card[data-face=""] { margin-bottom: -130px; }
.edgeTop.stacked.tight .card, .edgeBottom.stacked.tight .card { margin-bottom: -160px; }
.edgeTop.stacked.tight .card:not([data-face=""]):hover, .edgeBottom.stacked.tight .card:not([data-face=""]):hover { margin-bottom: -113px; }
.edgeTop.flowUp.expandLeft.stacked.tight .card, .edgeBottom.flowUp.expandLeft.stacked.tight .card { margin-bottom: -165.5px; }
.edgeTop.flowUp.expandLeft.stacked.tight .card:not(:last-child):not([data-face=""]):hover, .edgeBottom.flowUp.expandLeft.stacked.tight .card:not(:last-child):not([data-face=""]):hover { margin-bottom: -165.5px; margin-left: -50px; }
.edgeTop.flowUp.expandRight.stacked.tight .card, .edgeBottom.flowUp.expandRight.stacked.tight .card { margin-bottom: -165.5px; }
.edgeTop.flowUp.expandRight.stacked.tight .card:not(:last-child):not([data-face=""]):hover, .edgeBottom.flowUp.expandRight.stacked.tight .card:not(:last-child):not([data-face=""]):hover { margin-bottom: -165.5px; margin-left: 50px; }
.edgeTop.stacked .card:not([data-face=""]):hover, .edgeBottom.stacked .card:not([data-face=""]):hover, 
.edgeTop.stacked .card.expand:not([data-face=""]), .edgeBottom.stacked .card.expand:not([data-face=""]) { margin-bottom: 0; }

.stacked .card:last-child { margin-bottom: 0 !important; }
.edgeTop.stacked .card:last-child, .edgeBottom.stacked .card:last-child { margin-bottom: 0 !important; }

.card>.rank,
.card>.suit {
    position: relative;
    display: block;
    vertical-align: top;
    text-align: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    border: none 0px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    vertical-align: top;
    text-align: center;
}
.edgeTop .card>.rank,
.edgeTop .card>.suit,
.edgeBottom .card>.rank,
.edgeBottom .card>.suit {
    display: inline-block;
}
.card>.rank {
    background-image: url(ranksheet-50x50y-18c2r.png);
}
.card[data-face$="♦"]>.rank,
.card[data-face$="♥"]>.rank {
    background-image: url(ranksheet-red-50x50y-18c2r.png);
}
.card[data-face$="♣"]>.rank,
.card[data-face$="♠"]>.rank {
    background-image: url(ranksheet-black-50x50y-18c2r.png);
}
.card[data-face^="A"]>.rank { background-position: 0px 0px; }
.card[data-face^="2"]>.rank { background-position: -50px 0px; }
.card[data-face^="3"]>.rank { background-position: -100px 0px; }
.card[data-face^="4"]>.rank { background-position: -150px 0px; }
.card[data-face^="5"]>.rank { background-position: -200px 0px; }
.card[data-face^="6"]>.rank { background-position: -250px 0px; }
.card[data-face^="7"]>.rank { background-position: -300px 0px; }
.card[data-face^="8"]>.rank { background-position: -350px 0px; }
.card[data-face^="9"]>.rank { background-position: -400px 0px; }
.card[data-face^="10"]>.rank { background-position: -450px 0px; }
.card[data-face^="J"]>.rank { background-position: -500px 0px; }
.card[data-face^="Q"]>.rank { background-position: -550px 0px; }
.card[data-face^="K"]>.rank { background-position: -600px 0px; }
.card[data-face^="?"]>.rank { background-position: -650px 0px; }

.card>.suit {
    background-image: url(suitsheet-50x50y-4c2r.png);
}
.card[data-face$="♦"]>.suit { background-position: 0px 0px; }
.card[data-face$="♣"]>.suit { background-position: -50px 0px; }
.card[data-face$="♥"]>.suit { background-position: -100px 0px; }
.card[data-face$="♠"]>.suit { background-position: -150px 0px; }

.card>.face {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    border: solid 1px darkblue;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    bottom: 50px;
    left: 50px;
}
.edgeTop .card>.face,
.edgeBottom .card>.face {
    display: block;
    bottom: -3px;
    left: 5px;
}

.card[data-face="2♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px 0px;
}
.card[data-face="3♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px -100px;
}
.card[data-face="4♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px -200px;
}
.card[data-face="5♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px -300px;
}
.card[data-face="6♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px -400px;
}
.card[data-face="7♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px -500px;
}
.card[data-face="8♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px -600px;
}
.card[data-face="9♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px -700px;
}
.card[data-face="10♦"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: 0px -800px;
}

.card[data-face="2♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px 0px;
}
.card[data-face="3♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px -100px;
}
.card[data-face="4♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px -200px;
}
.card[data-face="5♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px -300px;
}
.card[data-face="6♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px -400px;
}
.card[data-face="7♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px -500px;
}
.card[data-face="8♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px -600px;
}
.card[data-face="9♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px -700px;
}
.card[data-face="10♣"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -100px -800px;
}

.card[data-face="2♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px 0px;
}
.card[data-face="3♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px -100px;
}
.card[data-face="4♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px -200px;
}
.card[data-face="5♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px -300px;
}
.card[data-face="6♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px -400px;
}
.card[data-face="7♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px -500px;
}
.card[data-face="8♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px -600px;
}
.card[data-face="9♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px -700px;
}
.card[data-face="10♥"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -200px -800px;
}

.card[data-face="2♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px 0px;
}
.card[data-face="3♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px -100px;
}
.card[data-face="4♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px -200px;
}
.card[data-face="5♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px -300px;
}
.card[data-face="6♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px -400px;
}
.card[data-face="7♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px -500px;
}
.card[data-face="8♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px -600px;
}
.card[data-face="9♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px -700px;
}
.card[data-face="10♠"]>.face {
    background-image: url(nonfacesheet-100x100y-4c9r.png);
    background-position: -300px -800px;
}

.card[data-face="K♦"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -300px 0px;
}
.card[data-face="Q♦"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -300px -100px;
}
.card[data-face="J♦"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -300px -200px;
}
.card[data-face="A♦"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -300px -300px;
}
.card[data-face="?♦"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -300px -400px;
}

.card[data-face="K♣"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -200px 0px;
}
.card[data-face="Q♣"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -200px -100px;
}
.card[data-face="J♣"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -200px -200px;
}
.card[data-face="A♣"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -200px -300px;
}
.card[data-face="?♣"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -200px -400px;
}

.card[data-face="K♥"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -100px 0px;
}
.card[data-face="Q♥"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -100px -100px;
}
.card[data-face="J♥"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -100px -200px;
}
.card[data-face="A♥"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -100px -300px;
}
.card[data-face="?♥"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: -100px -400px;
}

.card[data-face="K♠"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: 0px 0px;
}
.card[data-face="Q♠"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: 0px -100px;
}
.card[data-face="J♠"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: 0px -200px;
}
.card[data-face="A♠"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: 0px -300px;
}
.card[data-face="?♠"]>.face {
    background-image: url(facesheet-100x100y-4c5r.png);
    background-position: 0px -400px;
}

.card[data-face=""] {
    background-image: url(backface-100x100y.png);
    background-repeat: repeat;
    background-position: 50% 50%;
}
.card[data-face=""]>* {
    display: none !important;
}
.card.selected:not([data-face=""]) {
    background-color: palegoldenrod;
}
.card.selected>.rank,
.card.selected>.suit {
    background-position-y: -50px !important;
}
